<h1>New employee</h1>

<% form_for(@employee) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :legal_name %><br />
    <%= f.text_field :legal_name %>
  </p>
  <p>
    <%= f.label :department_id %><br />
    <%= f.text_field :department_id %>
  </p>
  <p>
    <%= f.label :title_id %><br />
    <%= f.text_field :title_id %>
  </p>
  <p>
    <%= f.label :manager_id %><br />
    <%= f.text_field :manager_id %>
  </p>
  <p>
    <%= f.label :office_id %><br />
    <%= f.text_field :office_id %>
  </p>
  <p>
    <%= f.label :remote %><br />
    <%= f.check_box :remote %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', employees_path %>
